@model NotesApp.ViewElements.Models.CreateNoteViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div id="FormNote">
        @await Html.PartialAsync("_NoteFormCreate", Model)
    </div>
    @await Component.InvokeAsync("NoteWall")
</div>
