@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Escribe una Nota</h2>
    @await Component.InvokeAsync("NoteForm")
    @await Component.InvokeAsync("NoteWall")
</div>
