@model NoteModel

<div class="card m-2" style="width: 18rem;" data-id="@Model.Id">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a href="#" class="card-link">Editar</a>
        <button onclick="deleteNote(@Model.Id)" class="card-link">Eliminar</button>
    </div>
</div>
