@model IEnumerable<NoteModel>

<div class="mt-4"  style="background-color:#CECECE;height: 400px; width: 100%;">
    <div class="d-flex justify-content-start">
        @foreach (var note in Model)
        {
            @await Component.InvokeAsync("NoteItem", note)
        }
    </div>
</div>